<section>
  <div class="container title text-center pt-5">
    <img class="pb-3" src="assets/imgs/title.png" alt="Logo" />
    <h2 class="fw-bold">We are Good at</h2>
    <p class="text-black-50 fw-bold">SOME OF THESE STUFF UNDER</p>
  </div>

  <div class="projects-sections container pt-4">
    <ul class="list-unstyled d-flex justify-content-center align-items-center">
      <li class="ps-3 pe-3 fw-bold global-btn rounded-pill">All</li>
      <li class="ps-3 pe-3 fw-bold">Design</li>
      <li class="ps-3 pe-3 fw-bold">Code</li>
      <li class="ps-3 pe-3 fw-bold">Photo</li>
      <li class="ps-3 pe-3 fw-bold">App</li>
    </ul>
  </div>

  <div class="projects container pb-5">
    <div class="row g-5">
      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-01.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-02.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-03.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-04.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-05.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-06.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-07.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>

      <div class="col-md-4 col-lg-3">
        <div class="image-container">
          <img class="img-fluid" src="assets/imgs/work-08.jpg" alt="Project" />
          <div
            class="overlay d-flex justify-content-center align-items-center fw-bold text-white fs-3"
          >
            Application
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
