@import "../../../styles.scss";
section {
    font-family: "Roboto Regular";
    background-color: $ligt-grey;

    ul {
        li {
            cursor: pointer;
            &:hover {
                color: $red;
            }
        }
    }

    .image-container {
        position: relative;
        width: 100%;

        img {
            display: block;
            width: 100%;
            height: auto;
            border: solid 8px $color-white;
        }

        .overlay {
            position: absolute;
            top: 8px;
            left: 8px;
            width: 0;
            height: calc(100% - 16px);
            background-color: rgba(0, 0, 0, 0.5);
            transition: width 0.5s ease;
            overflow: hidden;
        }

        &:hover {
            .overlay {
                width: calc(100% - 16px);
            }
        }
    }
}
