<section class="mt-5 p-5">
  <div class="text-center text-holder container">
    <h1 class="fw-bold">Meet the Team</h1>
    <p class="fw-bold text-black-50">
      Donec rutrum congue leo eget malesuada. Mauris blandit aliquet elit, eget
      tincidunt nibh pulvinar a. Pellentesque in ipsum id orci porta dapibus.
      Proin eget tortor risus. Donec sollicitudin molestie malesuada.
    </p>
  </div>

  <div class="container cards-holder">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <div class="card" style="width: 18rem">
          <img src="assets/imgs/team-1.png" alt="" />
          <h2 class="p-2 text-white text-center">Luke Skywalker</h2>
          <p class="p-1 text-center">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card" style="width: 18rem">
          <img src="assets/imgs/team-2.png" alt="" />
          <h2 class="p-2 text-white text-center">Luke Skywalker</h2>
          <p class="p-1 text-center">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card" style="width: 18rem">
          <img src="assets/imgs/team-3.png" alt="" />
          <h2 class="p-2 text-white text-center">Luke Skywalker</h2>
          <p class="p-1 text-center">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </p>
        </div>
      </div>

      <div class="col-md-4 col-xl-3">
        <div class="card" style="width: 18rem">
          <img src="assets/imgs/team-4.png" alt="" />
          <h2 class="p-2 text-white text-center">Luke Skywalker</h2>
          <p class="p-1 text-center">
            “I don't understand how we got by those troops. I thought we were
            dead.“
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
