<section class="p-5">
  <div class="container">
    <div class="row text-sm-center text-md-start">
      <div
        class="col-md-6 col-xl-4 text-sm-center text-md-start pb-sm-4 pb-md-0"
      >
        <div class="footer-text">
          <img src="assets/imgs/logo.png" alt="Logo" />
          <p class="text-white-50 pt-4 pb-4">
            Pellentesque in ipsum id orci porta dapibus. Vivamus magna justo,
            lacinia eget consectetur sed, convallis at tellus.
          </p>
          <span class="text-white-50"
            >Created By Graphberry <br />
            © 2022 - Bondi Inc</span
          >
        </div>
      </div>

      <div
        class="col-md-6 col-xl-2 text-sm-center text-md-start pb-sm-4 pb-md-0"
      >
        <div class="footer-link text-white d-flex flex-column">
          <h5 class="fw-bold">Links</h5>
          <a class="pb-2 text-white-50 fw-bold">Home</a>
          <a class="pb-2 text-white-50 fw-bold">Our Services</a>
          <a class="pb-2 text-white-50 fw-bold">Portfolio</a>
          <a class="pb-2 text-white-50 fw-bold">Testimonials</a>
          <a class="pb-2 text-white-50 fw-bold">Support</a>
          <a class="pb-2 text-white-50 fw-bold">Terms and Condition</a>
        </div>
      </div>

      <div
        class="col-md-6 col-xl-2 text-sm-center text-md-start pb-sm-4 pb-md-0"
      >
        <div class="about-link text-white d-flex flex-column">
          <h5 class="fw-bold">About Us</h5>
          <a class="pb-2 text-white-50 fw-bold">Sign In </a>
          <a class="pb-2 text-white-50 fw-bold">Register</a>
          <a class="pb-2 text-white-50 fw-bold">About Us </a>
          <a class="pb-2 text-white-50 fw-bold">Blog</a>
          <a class="pb-2 text-white-50 fw-bold">Contact Us </a>
        </div>
      </div>

      <div
        class="col-md-6 col-xl-4 text-sm-center text-md-start pb-sm-4 pb-md-0"
      >
        <div class="footer-contact d-flex flex-column">
          <h5 class="fw-bold text-white pb-3">Contact Us</h5>
          <p class="text-white-50 lh-lg fw-bold w-75 mx-sm-auto mx-md-0">
            Get in touch with us via mail phone. We are waiting for your call or
            message
          </p>

          <a
            class="global-btn rounded-pill fw-bold d-flex justify-content-center"
          >
            info&#64;bondi.com
          </a>

          <div class="social-media pt-5 d-flex justify-content-evenly">
            <i class="fa-brands fa-x-twitter fs-3" style="color: #ededed"></i>
            <i class="fa-brands fa-instagram fs-3" style="color: #ededed"></i>
            <i class="fa-brands fa-linkedin fs-3" style="color: #ededed"></i>
            <i class="fa-brands fa-facebook fs-3" style="color: #ededed"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
