@import "../../../styles.scss";

section {
    font-family: "Roboto Regular";

    .title {
        position: relative;

        &::after {
            content: "";
            width: 150px;
            height: 2px;
            background-color: $light-green;
            position: absolute;
            bottom: -10px;
            left: 50%;
            right: 50%;
            transform: translate(-50%, -50%);
        }
    }

    .feature {
        .icons-wrapper {
            height: 200px;
        }

        i {
            left: 50%;
            transform: translateX(-50%);
        }

        .number-icon {
            font-size: 12rem;
            color: $ligt-grey;
        }

        .pencil-icon {
            color: $light-green;
        }

        h4 {
            color: $gold;
            font-weight: bold;
        }
    }
}
