<section>
  <div class="container title text-center pt-5">
    <img class="pb-3" src="assets/imgs/title.png" alt="Logo" />
    <h2 class="fw-bold">We are Good at</h2>
    <p class="text-black-50 fw-bold">SOME OF THESE STUFF UNDER</p>
  </div>

  <div class="row container pt-5 pb-5 mx-auto">
    <div class="col-md-6 col-xl-4">
      <div class="feature">
        <div class="icons-wrapper position-relative">
          <i class="fa-solid fa-1 position-absolute bottom-0 number-icon"></i>
          <i
            class="fa-solid fa-pen fa-4x position-absolute bottom-0 pencil-icon"
          ></i>
        </div>

        <h4 class="text-uppercase mt-3 mb-4 text-center">Graphic Design</h4>
        <p class="text-black-50 lh-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          obcaecati dolores ullam ex dolor sed reiciendis natus pariatur laborum
          quae consequatur neque repellendus
        </p>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="feature">
        <div class="icons-wrapper position-relative">
          <i class="fa-solid fa-2 position-absolute bottom-0 number-icon"></i>
          <i
            class="fa-solid fa-desktop fa-4x position-absolute bottom-0 pencil-icon"
          ></i>
        </div>

        <h4 class="text-uppercase mt-3 mb-4 text-center">Graphic Design</h4>
        <p class="text-black-50 lh-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          obcaecati dolores ullam ex dolor sed reiciendis natus pariatur laborum
          quae consequatur neque repellendus
        </p>
      </div>
    </div>

    <div class="col-md-6 col-xl-4">
      <div class="feature">
        <div class="icons-wrapper position-relative">
          <i class="fa-solid fa-3 position-absolute bottom-0 number-icon"></i>
          <i
            class="fa-solid fa-plug fa-4x position-absolute bottom-0 pencil-icon"
          ></i>
        </div>

        <h4 class="text-uppercase mt-3 mb-4 text-center">Graphic Design</h4>
        <p class="text-black-50 lh-base">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil
          obcaecati dolores ullam ex dolor sed reiciendis natus pariatur laborum
          quae consequatur neque repellendus
        </p>
      </div>
    </div>
  </div>
</section>
