@import "../../styles.scss";

.nav-link {
    cursor: pointer;
    font-family: "Roboto Regular";
    color: $color-white;
    font-weight: bold;

    .custom-border {
        border-left: 2px solid $light-green !important;
    }

    &:hover {
        color: $light-green;
    }
}
