<section class="p-5">
  <div class="container mx-auto">
    <div class="row">
      <div class="col-12 col-md-4 col-xl-3 pt-3 pb-3 text-center">
        <img src="assets/imgs/tech-1.png" alt="" class="img-fluid" />
      </div>

      <div class="col-12 col-md-4 col-xl-3 pt-3 pb-3 text-center">
        <img src="assets/imgs/tech-2.png" alt="" class="img-fluid" />
      </div>

      <div class="col-12 col-md-4 col-xl-3 pt-3 pb-3 text-center">
        <img src="assets/imgs/tech-3.png" alt="" class="img-fluid" />
      </div>

      <div class="col-12 col-md-4 col-xl-3 pt-3 pb-3 text-center">
        <img src="assets/imgs/tech-4.png" alt="" class="img-fluid" />
      </div>
    </div>
  </div>
</section>
