@font-face {
    font-family: "Roboto Regular";
    src: url("./assets/fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Roboto Regular, sans-serif" !important;
}

// Colors variables
$color-blue: #19283f;
$color-white: #fff;
$light-green: #33d1cc;
$red: #ff3150;
$gold: #ffc429;

.light-green {
    color: $light-green !important;
}

.global-btn {
    background-color: $red;
    padding: 10px;
    color: $gold !important;
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}
