<section class="pb-5">
  <div class="container">
    <div class="title text-center pt-5">
      <img class="pb-3" src="assets/imgs/title.png" alt="Logo" />
      <h2 class="fw-bold">We are Good at</h2>
      <p class="text-black-50 fw-bold">Our Stories</p>
    </div>

    <div class="row pt-5 pb-5">
      <div class="col-12 col-md-4">
        <div class="card mx-auto" style="max-width: 26rem">
          <img src="assets/imgs/blog-1.jpg" class="card-img-top img-fluid" />
          <div class="card-body">
            <p class="card-text text-black-50">Jan 17, 2022</p>
            <h4>Some Awesome Blog Title Here</h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mx-auto">
        <div class="card mx-auto" style="max-width: 26rem">
          <img src="assets/imgs/blog-2.jpg" class="card-img-top img-fluid" />
          <div class="card-body">
            <p class="card-text text-black-50">Jan 17, 2022</p>
            <h4>Some Awesome Blog Title Here</h4>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4 mx-auto">
        <div class="card mx-auto" style="max-width: 26rem">
          <img src="assets/imgs/blog-3.jpg" class="card-img-top img-fluid" />
          <div class="card-body">
            <p class="card-text text-black-50">Jan 17, 2022</p>
            <h4>Some Awesome Blog Title Here</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="d-flex justify-content-center">
      <a class="global-btn rounded-pill ps-3 pe-3 fw-bold">More Stories</a>
    </div>
  </div>
</section>
